# See tutorial here : https://medium.com/@colonal/automating-flutter-builds-and-releases-with-github-actions-77ccf4a1ccdd

# Should be called on push to main
name: Flutter Web Build

on:
  workflow_call:
    secrets:
      FIREBASE_OPTIONS_DART:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Firebase Options file (lib/firebase_options.dart)
        run: |
          echo "${{ secrets.FIREBASE_OPTIONS_DART }}" > lib/firebase_options.dart
        shell: bash

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web

      - name: Upload web build artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: build/web
