# Should be called each time a new tag is created
name: Flutter Web Deployment

on:
  # This line allows the workflow to be called by other workflows
  workflow_call:
    inputs:
      pre_build_command:
        description: "Command to run before building Flutter web"
        required: false
        type: string
    secrets:
      FIREBASE_OPTIONS_DART:
        required: true
      GOOGLE_SERVICES_JSON: # If provided, will build for android
        required: false
      GOOGLE_SERVICE_INFO_PLIST: # If provided, will build for iOS
        required: false
      FIREBASE_SERVICE_ACCOUNT: # If provided, will build for iOS
        required: false

# https://medium.com/@colonal/automating-flutter-builds-and-releases-with-github-actions-77ccf4a1ccdd
jobs:
  build:
    uses: Womotaq/github_actions/.github/workflows/flutter_build.yaml@main
    with:
      pre_build_command: ${{ inputs.pre_build_command }}
    secrets:
      FIREBASE_OPTIONS_DART: ${{ secrets.FIREBASE_OPTIONS_DART }}
      GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      GOOGLE_SERVICE_INFO_PLIST: ${{ secrets.GOOGLE_SERVICE_INFO_PLIST }}

  deploy:
    runs-on: ubuntu-latest # macos-latest if needing an ios build
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download web build artifact
        uses: actions/download-artifact@v4
        with:
          name: web-build
          path: build/web

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: live
          projectId: womotaq-f
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
